mainsl {
    position: relative;
    display: block;
    max-width: 600px;
    width: 70%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    
}
mainsl > options {
    margin: 3em 0 0 0;
    background-color: #fefae0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px 10px 0 0;
    border: 1px solid #D1D1D1;
    border-bottom: none;
    box-shadow: 3px 10px 15px -3px rgba(0,0,0,0.61);
}
mainsl > options > div {
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    flex-grow: 4;
    transition: 1s background;
}
mainsl > options > div:hover {
    background: #ffc845;
    /*color: #52565e;*/
}
mainsl > options > #left {
    border-top-left-radius: 10px;
}
mainsl > options > #right {
    border-top-right-radius: 10px;
}

mainsl > slides {
    width: 100%;
    height: auto;
    box-sizing: content-box;
}
slide {
    position: absolute;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    transition: 1s transform ease-in-out;
    border: 1px solid #D1D1D1;
    border-top: none;
    background: #fefae0;
    box-shadow: 3px 10px 15px -3px rgba(0,0,0,0.61);
}
